<link rel="stylesheet" href="/css/signIn.css">

<div id="container_sign-in" class="col-lg-5 col-md-7" >

    <h1>Change Password</h1>

    <div class="form-container">
        <form action="/users/upadate-password" method="POST">
            <input type="password" name="password" placeholder="Your Password" class="form-control"   required>
            <input type="password" name="verify_password" placeholder="Verify Password" class="form-control"   required>

            <button type="submit" class="btn btn-success">Update Password</button>
        </form>

       
    </div>

</div>