<link rel="stylesheet" href="/css/forget_password.css">

<div id="container" class="mx-auto col-9 col-lg-4 col-md-5">
    <div id="heading">
        <h1>Forget Password</h1>
    </div>
    <div id="form_container" class="mt-4 ">
        <form action="/users/reset" method="POST">
            <input type="email" name="email" placeholder="Your Email_ID"  class="d-flex flex-column mb-3 form-control" required>
            <button type="submit"  class="d-flex flex-column mb-5 form-control btn btn-success"> Reset Password</button>
        </form>
    </div>

