
<div id="container_sign-in">
    <h1>Sign-In</h1>

    <div class="form-container">
        <form action="/users/create-session" method="POST">
            <input type="email" name="email" placeholder="Your Email_Id" required>
            <input type="password" name="password" placeholder="Your Password" required>
            <button type="submit">Sign-In</button>
        </form>
    </div>
</div>