#password_reminder {
    color:rgb(112, 14, 14);
   margin-top: -20px;
   font-size: small;
}
#password_match{
    color:rgb(112, 14, 14);
   margin-top: -20px;
   font-size: small;
}

#container_sign-up {
    margin: 70px;
    // width: 30%;
}
.form-container{
    background-color: rgb(65, 72, 161);
    padding: 30px;
    padding-top: 40px;
    margin-top: 25px;

input{
        border-radius: 15px;
    }
}
